@font-face {
  font-family: Comic;
	src: url('fonts/comic.ttf')
}

* {
  font-family: Comic
}

body {
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(300px);
  scroll-snap-type: y mandatory;
}

#acceuil {
  scroll-snap-align: start;
  position:absolute;
  width:100%;
  height:100%;
  background:white;
  left:0%;
  top:0%;
}

#titre {
  position: absolute;
  top: 25%;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25%;
  border: 0px;
  padding: 0px;
  font-size: 6em;
}

#icon {
  height: 100%;
  margin: 10px;
}

#generateur {
  position:absolute;
  width:100%;
  height:100%;
  background:green;
  left:0%;
  top:100%;
}

#plus {
  position:absolute;
  width:100%;
  height:100%;
  left:0%;
  top:200%;
}

#histoire1 {
  position:absolute;
  width:25%;
  height:25%;
  left:0%;
  top:0%;
  text-align: center;
  margin-left: 10%
}
#liste {
  position:absolute;
  width:25%;
  height:25%;
  left:50%;
  top:0%;
  text-align: center;
  background: salmon;
}